.activePage{
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 700;
    /* padding: 4px 20px; */
    border-radius: 20px;

}

.loader {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  /* left, top and position just for the demo! */
  position: absolute;
  left: 50%;
  top: 50%;
}

@-webkit-keyframes rotate {
  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}




#preloader {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #fefefe;
z-index: 9999;
/* height: 100%; */
}
   
.preloader-item{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

}